/* Media queries */
/* Container */
.sign-wrapp {
  max-width: 500px;
  margin: auto;
}

.sign-wrapp .tab-links {
  display: flex;
  align-items: flex-end;
}

.sign-wrapp .tab-links span {
  border: 2px solid #58468c;
  text-transform: uppercase;
  padding: 3px 10px;
  font-size: 22px;
  font-weight: 900;
  color: #6e59ac;
  cursor: pointer;
  transition: all .3s;
  height: min-content;
}

.sign-wrapp .tab-links span:hover {
  color: #43356a;
}

.sign-wrapp .tab-links span:first-child {
  margin-right: -2px;
}

.sign-wrapp .tab-links span.tab-links_bg {
  width: 100%;
  border: none;
  border-bottom: 2px solid #58468c;
}

.sign-wrapp .tab-links span.active {
  color: #43356a;
  border-bottom: 2px solid transparent;
}

.sign-wrapp .sign-block {
  border: 2px solid #58468c;
  border-top: none;
  padding: 20px;
  display: none;
}

.sign-wrapp .sign-block h2 {
  margin: 0 0 20px;
}

.sign-wrapp .sign-block.sign-active {
  display: block;
}

.sign-wrapp .sign-block.sign-active h2,
.sign-wrapp .sign-block.sign-active form {
  animation: showBlock .2s linear forwards;
}

@keyframes showBlock {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#respond input[type=text],
#respond textarea,
.mkdf-style-form textarea,
.post-password-form input[type=password],
.wpcf7-form-control.wpcf7-date,
.wpcf7-form-control.wpcf7-number,
.wpcf7-form-control.wpcf7-quiz,
.wpcf7-form-control.wpcf7-select,
.wpcf7-form-control.wpcf7-text,
.wpcf7-form-control.wpcf7-textarea,
input[type=text],
input[type=email],
input[type=password] {
  max-height: 14vh;
  text-transform: none;
  padding: 1vh 3vh;
  margin-bottom: 3vh;
}

.mkdf-vertical-showcase .mkdf-vs-contact-form .mkdf-vs-contact-form-info h3 {
  font-size: 6vh;
}

.mkdf-cf7-btn-custom-hover p {
  margin: 4vh auto !important;
}

.navi-btn_swiper {
  display: flex;
  width: 30px;
  height: 40px;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  right: 55px;
  z-index: 1000000;
}

@media (max-width: 767px) {
  .navi-btn_swiper {
    right: 18px;
  }
}

.navi-btn_swiper span {
  display: flex;
  position: relative;
}

.navi-btn_swiper span::after, .navi-btn_swiper span::before {
  content: '';
  display: flex;
  width: 16px;
  height: 3px;
  background: #7aa0ff;
  position: absolute;
  transition: all .3s;
}

.navi-btn_swiper span::before {
  left: 0;
  transform: rotate(27deg);
}

.navi-btn_swiper span::after {
  right: 0;
  transform: rotate(-27deg);
}

.navi-btn_swiper span.arrow_1::after, .navi-btn_swiper span.arrow_1::before {
  animation: arrowColor 7s ease-in 4s infinite;
}

.navi-btn_swiper span.arrow_2::after, .navi-btn_swiper span.arrow_2::before {
  animation: arrowColor 7s ease-in 4.5s infinite;
}

.navi-btn_swiper span.arrow_3::after, .navi-btn_swiper span.arrow_3::before {
  animation: arrowColor 7s ease-in 5s infinite;
}

@keyframes arrowColor {
  0% {
    background: #ff8a73;
  }
  30% {
    background: #7aa0ff;
  }
  100% {
    background: #7aa0ff;
  }
}

.navi-btn_swiper.swiper-button-next_custom {
  bottom: 30%;
}

.navi-btn_swiper.swiper-button-prev_custom {
  top: 30%;
  transform: rotate(180deg);
}

.navi-btn_swiper:hover span::after, .navi-btn_swiper:hover span::before {
  background: #ff8a73 !important;
}

.navi-btn_swiper.swiper-button-disabled {
  opacity: 0;
}

.mkdf-vertical-showcase .mkdf-vs-frame-holder {
  max-width: 35vw;
  min-width: 250px;
}

.mkdf-vertical-showcase .mkdf-vs-frame-holder .mkdf-vs-frame-mobile-holder {
  overflow: hidden;
}

.mkdf-vertical-showcase .mkdf-vs-frame-holder .mkdf-vs-frame-mobile-holder .mkdf-vs-inner-frame {
  width: 96%;
  height: 73%;
  top: 2%;
  left: 2%;
  margin: 0;
  border-radius: 16px;
  overflow: hidden;
}

.mkdf-vertical-showcase .mkdf-vs-frame-holder .mkdf-vs-frame-mobile-holder .mkdf-vs-inner-frame div {
  right: 0;
  bottom: 0;
}

.mkdf-vertical-showcase .mkdf-vs-frame-holder .mkdf-vs-frame-mobile-holder .mkdf-vs-inner-frame div img {
  height: 100%;
  width: 100%;
}

.mkdf-vertical-showcase .mkdf-vs-frame-info {
  z-index: 10000;
  background: rgba(0, 0, 0, 0.4);
}

.mkdf-vertical-showcase .mkdf-vs-frame-info .mkdf-vs-frame-info-top .mkdf-vs-frame-title,
.mkdf-vertical-showcase .mkdf-vs-frame-info .mkdf-vs-frame-info-top .mkdf-vs-frame-subtitle {
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}

.mkdf-vertical-showcase .mkdf-vs-frame-info .mkdf-vs-frame-info-bottom .mkdf-vs-frame-bg-text {
  display: none;
}

.mkdf-content .mkdf-content-inner .mkdf-title-holder .mkdf-title-image {
  display: none;
}

.mkdf-content .mkdf-content-inner .mkdf-title-holder .mkdf-title-wrapper {
  position: relative;
  transform: translateY(0);
  padding-top: 120px;
  padding-bottom: 40px;
  background-image: url("https://foton.qodeinteractive.com/elementor/wp-content/uploads/2018/06/aboutus-background-img1.jpg");
}

.mkdf-vs-holder .swiper-container {
  z-index: 1000;
}

.mkdf-vertical-showcase .swiper-pagination {
  z-index: 100001;
}

.mkdf-light-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-main-menu > ul > li.mkdf-active-item > a,
.mkdf-light-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-main-menu > ul > li > a {
  color: #58468c;
}

.mkdf-light-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-main-menu > ul > li.mkdf-active-item > a:hover,
.mkdf-light-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-main-menu > ul > li > a:hover {
  color: #ff8a73;
}

.mkdf-title-holder.mkdf-centered-type .mkdf-page-title {
  color: #58468c !important;
}

.mkdf-title-holder .mkdf-title-wrapper .mkdf-page-subtitle {
  display: none;
}

.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-logo-wrapper .mkdf-light-logo {
  opacity: 0;
}

.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-logo-wrapper .mkdf-dark-logo {
  opacity: 1;
}

.mkdf-page-footer .mkdf-footer-top-holder .mkdf-footer-top-inner.mkdf-grid {
  padding: 50px 0 30px;
}

.mkdf-page-footer .mkdf-footer-top-holder .mkdf-footer-top-inner.mkdf-grid .mkdf-column-content .textwidget a {
  margin-bottom: 10px;
  display: block;
  height: 40px;
}

.blog .mkdf-content {
  margin-top: 20px !important;
}

.mkdf-vertical-showcase .mkdf-vs-frame-info {
  bottom: 0;
  right: 0;
  max-height: 100vh;
}

@media (max-width: 767px) {
  .mkdf-vertical-showcase .mkdf-vs-frame-info .mkdf-vs-frame-info-top,
  .mkdf-vertical-showcase .mkdf-vs-frame-info .mkdf-vs-frame-info-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0 !important;
    width: 100% !important;
  }
  .mkdf-vertical-showcase .mkdf-vs-frame-info .mkdf-vs-frame-info-top div,
  .mkdf-vertical-showcase .mkdf-vs-frame-info .mkdf-vs-frame-info-bottom div {
    max-width: 90%;
    width: 90% !important;
    text-align: center !important;
    margin: auto !important;
    position: relative;
    left: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
  }
  .mkdf-vertical-showcase .mkdf-vs-frame-info .mkdf-vs-frame-info-top .mkdf-vs-frame-slide-number,
  .mkdf-vertical-showcase .mkdf-vs-frame-info .mkdf-vs-frame-info-top .mkdf-vs-frame-title-image,
  .mkdf-vertical-showcase .mkdf-vs-frame-info .mkdf-vs-frame-info-bottom .mkdf-vs-frame-slide-number,
  .mkdf-vertical-showcase .mkdf-vs-frame-info .mkdf-vs-frame-info-bottom .mkdf-vs-frame-title-image {
    position: relative !important;
  }
  .mkdf-vertical-showcase .mkdf-vs-frame-info .mkdf-vs-frame-info-top .mkdf-vs-frame-slide-number,
  .mkdf-vertical-showcase .mkdf-vs-frame-info .mkdf-vs-frame-info-bottom .mkdf-vs-frame-slide-number {
    line-height: 100%;
  }
  .mkdf-vertical-showcase .mkdf-vs-frame-info .mkdf-vs-frame-info-top .mkdf-vs-frame-title,
  .mkdf-vertical-showcase .mkdf-vs-frame-info .mkdf-vs-frame-info-bottom .mkdf-vs-frame-title {
    font-size: 18px !important;
  }
  .mkdf-vertical-showcase .mkdf-vs-frame-info .mkdf-vs-frame-info-top .mkdf-vs-frame-slide-text,
  .mkdf-vertical-showcase .mkdf-vs-frame-info .mkdf-vs-frame-info-bottom .mkdf-vs-frame-slide-text {
    font-size: 27px !important;
  }
  .mkdf-vertical-showcase .mkdf-vs-frame-info .mkdf-vs-frame-info-bottom {
    transform: translate(0, 20vh) !important;
  }
  .mkdf-vertical-showcase .mkdf-vs-frame-info.mkdf-vs-frame-even .mkdf-vs-frame-info-top {
    transform: translate(0, 18vh) !important;
  }
  .mkdf-vertical-showcase .navi-btn_swiper {
    right: 2vh;
  }
  .mkdf-vertical-showcase.mkdf-vs-last-slide .mkdf-vs-frame-holder {
    transform: translate(-50%, -300%);
  }
}

textarea#comment {
  max-height: 90vh;
}

.woocommerce-page .mkdf-content #billing_country_field .select2-container .selection .select2-selection--single,
.woocommerce-page .mkdf-content input[type=text],
.woocommerce-page .mkdf-content input[type=email],
.woocommerce-page .mkdf-content input[type=tel],
.woocommerce-page .mkdf-content input[type=password],
.woocommerce-page .mkdf-content textarea,
div.woocommerce #billing_country_field .select2-container .selection .select2-selection--single,
div.woocommerce input[type=text],
div.woocommerce input[type=email],
div.woocommerce input[type=tel],
div.woocommerce input[type=password],
div.woocommerce textarea {
  text-transform: none !important;
}

.mkdf-vs-holder .mkdf-vs-frame-holder.play-video_btn {
  z-index: 10000000;
  cursor: pointer;
  pointer-events: auto;
}

.mkdf-vs-holder .mkdf-vs-frame-holder.play-video_btn img {
  opacity: 0;
}

.mkdf-vs-holder .mkdf-vs-frame-holder.play-video_btn svg {
  position: absolute;
  top: 9%;
  width: 50%;
  left: 25%;
}

.mkdf-vs-holder .mkdf-vs-frame-holder.play-video_btn svg g path {
  fill: #1D1D1B;
  transition: all .4s;
}

.mkdf-vs-holder .mkdf-vs-frame-holder.play-video_btn:hover svg g path {
  fill: red;
}

#prew-video {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100000000;
  display: none;
}

#prew-video .close-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
}

#prew-video .close-btn {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
}

#prew-video .close-btn a {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  opacity: 0.7;
  transition: all .4s;
  cursor: pointer;
}

#prew-video .close-btn a:hover {
  opacity: 1;
}

#prew-video .close-btn a::before, #prew-video .close-btn a::after {
  content: '';
  display: flex;
  height: 3px;
  width: 40px;
  border-radius: 20px;
  background: #fff;
  position: absolute;
  top: 62%;
  transform: rotate(45deg);
}

#prew-video .close-btn a::after {
  transform: rotate(135deg);
}

#prew-video .video {
  z-index: 10;
  max-width: 90vw;
  width: 100%;
}

#prew-video .video .fluidvids {
  position: relative;
  padding-top: 56.25%;
}

#prew-video .video .fluidvids iframe {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  border: none;
  max-height: 95vh;
}
